#world {
  text-name: "[NAME]";
  text-size: 11;
  text-face-name: "Georgia Regular", "Arial Italic";
}

#bor:OBSERVATION {,
  marker-fill: #FF6600;,
  marker-opacity: 1;,
  marker-width: 16;,
  marker-line-color: white;,
  marker-line-width: 3;,
  marker-line-opacity: 0.9;,
  marker-placement: point;,
  marker-type: ellipse;,
  marker-allow-overlap: true;,
}
