<form>
  <h1>{{ test }}</h1>
  <h5>Format</h5>
    <label class="radio-inline">
      <input type='radio' name='projection' checked> Basic </input>
     </label>

  <label class="radio-inline">
    <input type='radio' name='projection'> World </input>
  </label>

  <label class="radio-inline">
    <input type='radio' name='projection'> Arctic </input>
  </label>

  <label class="radio-inline">
    <input type='radio' name='projection'> Antarctic</input>
  </label>

  <hr/>
</form>
