<form data-key="srs">
  <h5>{{projection.title}}</h5>

  <label class="radio-inline">
    <input type='radio' name='projection' checked data-key="srs" data-value="EPSG:3857"> {{projection.mercator}}</input>
  </label>

  <label class="radio-inline">
    <input type='radio' name='projection' data-key="srs" data-value="EPSG:4326"> {{projection.wgs84}} </input>
  </label>

  <label class="radio-inline">
    <input type='radio' name='projection' data-key="srs" data-value="EPSG:3575"> {{projection.arctic}} </input>
  </label>

  <label class="radio-inline">
    <input type='radio' name='projection' data-key="srs" data-value="EPSG:3857"> {{projection.antarctic}}</input>
  </label>
</form>
